.AdminPostEvent {
  margin-top: 150px;
  padding-bottom: 172px;

  .adminPostEventTitle {
    font-size: 80px;
    margin-bottom: 25px;
  }

  .form {
  display: flex;
  flex-direction: column;
  align-items: center;

    input {
      width: 400px;
      border: solid 1px;
      border-radius: 5px;
      margin-bottom: 10px;
      text-align: center;
    }

    .buttonSubmit {
      margin-top: 20px;
      background-color: rgba(54, 255, 47, 0.26);
    }
  }
}